@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
font-family: 'Quicksand', sans-serif;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #1d1d1d;
}

p {
	margin-bottom: 1rem;
}

.export{
	margin: 0;
	padding: 0;
	text-align: center;
	margin: auto;
}

.contenedor {
	width: 100%;
	max-width: 1000px;
	margin: 40px auto 40px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	-ms-grid-columns: repeat(4, 1fr);
	-ms-grid: grid;
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}

.lista-clase {
	position: fixed;
	top: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 10px;
}

.lista-clase button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100px;
	background: #d10000;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.lista-clase button:hover {
	background: #07099e;
}

.img-productos-tienda {
	max-height: 150px;
	width: auto;

}

.btn-comprar {
	font-weight: bold;
	width: 50%;
	height: auto;
	border-radius: 7px;
	border: #000 1px solid;
	margin: 0 auto;
}
.btn-comprar:hover {	
	background-color: #000;
	color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
